<h1>Edit Product</h1>

<p>
  <%= link_to "Back", @product %>
</p>

<%= form_for @product do |f| %>
  <p>
    <%= f.label "product" %><br>
    <%= f.text_field "product" %>
  </p>
  <p>
    <%= f.label "description" %><br>
    <%= f.text_field "description" %>
  </p>
  <p>
    <%= f.label "price in cents" %><br>
    <%= f.text_field "price in cents" %>
  </p>
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>
